.App {
  text-align: center;
  margin: auto;
  /* width: fit-content; */
}
.title {
  margin-top: 15px;
}

.inputs {
  margin: 5px; 
}

.functions {
  margin-top: 20px; 
  margin-bottom: 30px; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#speed-range {
  vertical-align: middle;
}

.element {
  width: 30px;
  height: 30px;
  border: 1px solid;
  display: inline-block;
  margin: 5px; 
  padding: 3px;
}

.element-null {
  width: 10px;
  height: 20px;
  display: inline-block;
  margin: 5px; 
  padding: 3px;
  font-size: 15px;
  line-height: 20px;
}

.stackDiv {
  margin: 5px; 
}

.version-ref {
	color: grey;
}

.version-ref:hover {
	cursor: pointer;
}

.version-ref.current {
	color: blue;
	font-weight: bold;
}

.version-ref.parent {
	color: blue;
}

.hidden {
	display: none;
}

.explanation {
  color: darkgreen; 
  background-color: white;
}

#speed-select-div {
  margin: 15px;
}

.stack-name {
  color: blue;
}

.stack-name-expl {
  color: blue;
}

.ant-notification-notice-description{
  max-height: 400px;
  overflow-y: scroll;
}